<div class="container-fluid" data-aos="fade-up" data-aos-duration="3000">

  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 d-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-end justify-content-xl-center justify-content-xxl-center  mt-5 py-5">

      <h1 class="titulos_section">Categories</h1>

    </div>
  </div>


  <div class="row pt-5 mb-5 pb-5 g-5 justify-content-center">
    <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-5 col-xxl-3 d-flex flex-column align-items-center">
      <a routerLink="/products/electronics" class="category-card">
        <img src="Electronics 1.png" height="219" width="319" alt="Electronics">
      </a>
      <div class="card-body pt-5">
        <h5 class="card-title titulos_categorias">Electronics</h5>
      </div>
    </div>

    <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-5 col-xxl-3 d-flex flex-column align-items-center">
      <a routerLink="/products/mens-clothing" class="category-card">
        <img src="Men's clothing 1.png" height="219" width="319" alt="Men's clothing">
      </a>
      <div class="card-body pt-5">
        <h5 class="card-title titulos_categorias">Men's clothing</h5>
      </div>
    </div>

    <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-5 col-xxl-3 d-flex flex-column align-items-center">
      <a routerLink="/products/jewelery" class="category-card">
        <img src="Jewelery 1.png" height="219" width="319" alt="Jewelery">
      </a>
      <div class="card-body pt-5">
        <h5 class="card-title titulos_categorias">Jewelery</h5>
      </div>
    </div>

    <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-5 col-xxl-3 d-flex flex-column align-items-center">
      <a routerLink="/products/womens-clothing" class="category-card">
        <img src="Women's clothing 1.png" height="219" width="319" alt="Women's clothing">
      </a>
      <div class="card-body pt-5">
        <h5 class="card-title titulos_categorias">Women's clothing</h5>
      </div>
    </div>
  </div>


  <div style="padding-bottom: 150px;" class="row">
    <div class="col col_categorias mt-3 ms-sm-5 ms-md-5 ms-lg-5 ms-xl-5 ms-xxl-5 pt-5 ps-sm-5 ps-md-5 ps-lg-5 ps-xl-5 ps-xxl-5 d-flex justify-content-center justify-content-sm-start">

      <h1 class="titulos_section">Testimonials</h1>

    </div>

  </div>




  <div id="carouselExampleIndicators" class="carousel slide" data-aos="fade-up" data-aos-duration="1500">
    <div style="margin-bottom: 300px;" class="carousel-inner d-none d-sm-none d-md-none d-lg-block">
      <div class="container-fluid carousel-item active">
        <div class="row justify-content-center">

          <div class="p-1 rounded-4 col-xxl-3 col-xl-4 col-lg-12 col-md-12 justify-content-lg-center justify-content-md-center d-flex">

            <img style="max-width: 410px; width: 100%; max-height: 410px;" src="perfil_1.png" class="d-block w-100" alt="Testimonials">

          </div>

          <div class="col-xxl-7 col-xl-6 col-lg-12 col-md-12">
            <p class="fs-3 col m-0 px-5 py-5">
              “Since I discovered TechShop, I have not purchased technology from another place. The quality of their
              products is exceptional and I always find the latest in gadgets.
              Plus, their customer service is impeccable.”
            </p>
            <div class="col px-5 py-5 row">
              <p class="fs-3 fw-bold m-0 px-3 d-flex justify-content-xxl-start justify-content-xl-start justify-content-lg-center justify-content-md-center">
                Juan Pérez
              </p>
              <p class="fs-4 fw-light m-0 px-3 d-flex justify-content-xxl-start justify-content-xl-start justify-content-lg-center justify-content-md-center">
                Customer
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item container-fluid">
        <div class="row justify-content-center">

          <div class="p-1 rounded-4 col-xxl-3 col-xl-4 col-lg-12 col-md-12 justify-content-lg-center justify-content-md-center d-flex">

            <img style="max-width: 410px; width: 100%; max-height: 410px;" src="perfil_2.png" class="d-block w-100" alt="Testimonials">

          </div>

          <div class="col-xxl-7 col-xl-6 col-lg-12 col-md-12">
            <p class="fs-3 col m-0 px-5 py-5 ">
              "TechShop is not only my go-to store for tech products,
              but also for fashion clothing and accessories. I recently purchased a jacket and wireless headphones that
              perfectly match my style."
            </p>
            <div class="col px-5 py-5 row d-flex">
              <p class="fs-3 fw-bold m-0 px-3 justify-content-xxl-start justify-content-xl-start justify-content-lg-center justify-content-md-center d-flex">
                Laura Fernández
              </p>
              <p class="fs-4 fw-light m-0 px-3 justify-content-xxl-start justify-content-xl-start justify-content-lg-center justify-content-md-center d-flex">
                Customer
              </p>
            </div>
          </div>

        </div>

      </div>
      <div  class="carousel-item container-fluid">
        <div class="row justify-content-center">
          <div class="p-1 rounded-4 col-xxl-3 col-xl-4 col-lg-12 col-md-12 justify-content-lg-center justify-content-md-center d-flex">

            <img style="max-width: 410px; width: 100%; max-height: 410px;" src="perfil_3.png" class="d-block w-100" alt="Testimonials">

          </div>
          <div class="col-xxl-7 col-xl-6 col-lg-12 col-md-12">
            <p class="fs-3 col m-0 px-5 py-5">
              "What I value most about TechShop is their commitment to the customer. A few
              months ago I bought a tablet for my work and had some questions about its configuration. The
              technical support team was very friendly and efficient, resolving all my concerns in
              a short time."
            </p>
            <div class="col px-5 py-5 row">
              <p class="fs-3 fw-bold m-0 px-3 justify-content-xxl-start justify-content-xl-start justify-content-lg-center justify-content-md-center d-flex">
                Carlos López
              </p>
              <p class="fs-4 fw-light m-0 px-3 justify-content-xxl-start justify-content-xl-start justify-content-lg-center justify-content-md-center d-flex">
                Customer
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <button style="top: 110px" class="carousel-control-next pe-none d-none d-sm-none d-md-none d-lg-block" data-bs-target="#carouselExampleIndicators"
      type="button" data-bs-slide="prev">
      <i class="bi bi-arrow-left-circle text-black fs-3 pe-auto" role="button"></i>
    </button>

    <button class="carousel-control-next pe-none d-none d-sm-none d-md-none d-lg-block" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <i class="bi bi-arrow-right-circle text-black fs-3 pe-auto" role="button"></i>
    </button>

  </div>


</div>


<div style="margin-bottom: 100px;" class="container-fluid d-lg-none" >
  <div class="row justify-content-center" data-aos="fade-up" data-aos-duration="1500">

    <div class="p-1 rounded-4 col-xxl-3 col-xl-4 col-lg-12 col-md-12 justify-content-center justify-content-sm-center justify-content-md-center d-flex">

      <img style="max-width: 410px; width: 100%;" src="perfil_1.png" class="d-block w-100" alt="Testimonials">

    </div>

    <div class="col-xxl-7 col-xl-6 col-lg-12 col-md-12">
      <p class="fs-3 col m-0 px-5 py-5">
        “Since I discovered TechShop, I have not purchased technology from another place. The quality of their
        products is exceptional and I always find the latest in gadgets.
        Plus, their customer service is impeccable.”
      </p>
      <div class="col px-5 row">
        <p class="fs-3 fw-bold m-0 px-3 d-flex justify-content-md-center">
          Juan Pérez
        </p>
        <p class="fs-4 fw-light m-0 px-3 pb-5 d-flex justify-content-md-center">
          Customer
        </p>
      </div>
    </div>
  </div>
  <div class="row justify-content-center" data-aos="fade-up" data-aos-duration="1500">

    <div class="p-1 rounded-4 col-xxl-3 pt-5 d-flex justify-content-center justify-content-sm-center justify-content-md-center">

      <img style="max-width: 410px; width: 100%;" src="perfil_2.png" class="d-block w-100" alt="Testimonials">

    </div>

    <div class="col-xxl-7">
      <p class="fs-3 col m-0 px-5 py-5">
        "TechShop is not only my go-to store for tech products,
        but also for fashion clothing and accessories. I recently purchased a jacket and wireless headphones that
        perfectly match my style."
      </p>
      <div class="col px-5 row">
        <p class="fs-3 fw-bold m-0 px-3 d-flex justify-content-md-center">
          Laura Fernández
        </p>
        <p class="fs-4 fw-light m-0 px-3 pb-5 d-flex justify-content-md-center">
          Customer
        </p>
      </div>
    </div>

  </div>
  <div class="row justify-content-center" data-aos="fade-up" data-aos-duration="1500">
    <div class="p-1 rounded-4 col-xxl-3 pt-5 d-flex justify-content-center justify-content-sm-center justify-content-md-center">

      <img style="max-width: 410px; width: 100%;" src="perfil_3.png" class="d-block w-100" alt="Testimonials">

    </div>
    <div class="col-xxl-7">
      <p class="fs-3 col m-0 px-5 py-5">
        "What I value most about TechShop is their commitment to the customer. A few
        months ago I bought a tablet for my work and had some questions about its configuration. The
        technical support team was very friendly and efficient, resolving all my concerns in
        a short time."
      </p>
      <div class="col px-5 row">
        <p class="fs-3 fw-bold m-0 px-3 d-flex justify-content-md-center">
          Carlos López
        </p>
        <p class="fs-4 fw-light m-0 px-3 pb-5 d-flex justify-content-md-center">
          Customer
        </p>
      </div>
    </div>
  </div>

</div>




