<div style="background-color: rgb(226, 227, 227);" class="container-fluid d-flex justify-content-center py-4" data-aos="fade-up" data-aos-duration="1500">
  <div class="row align-items-center">
    <div
      class="col-12 col-sm-12 col-md py-4 ps-md-5 text-center text-sm-center text-md-start d-flex flex-column align-items-center align-items-sm-center align-items-md-start">
      <h2 style="font-size: 40px; line-height: 60px; font-weight: 600;">About Us</h2>
      <p class="fs-5 fw-light pt-3 col-11">TechShop Where technology meets fashion. Innovation and style in each
        product.</p>
    </div>
    <div class="d-flex col-12 col-sm-12 col-md py-4 justify-content-center">
      <img src="about-hero.png" alt="About Us">
    </div>
  </div>
</div>

<div style="margin-top: 120px;" class="container" data-aos="fade-up" data-aos-duration="1500">
  <div class="row justify-content-center">
    <div
      class="col col-sm-12 col-md-12 col-lg-12 col-xl-7 col-xxl-6 order-xl-first d-flex justify-content-xxl-end justify-content-lg-center justify-content-md-center justify-content-sm-center justify-content-center">
      <img src="about-hero-2.png" alt="Our Mission">
    </div>
    <div
      class="col-lg-12 col-xl-5 col-xxl-6 order-first order-sm-first order-md-first order-lg-first d-flex flex-column align-items-center align-items-sm-center align-items-md-center align-items-lg-center align-items-xl-start justify-content-end">
      <h2 style="font-size: 32px; line-height: 44.16px; font-weight: 600;" class="ps-2">Our Mission</h2>
      <p style="font-size: 20px; font-weight: 300; line-height: 28px;"
        class="text-center text-sm-center text-md-start col-md-9 col-lg-7 col-xl-10 col-xxl-9 pt-2 ps-2 pb-5">TechShop
        mission is to
        provide our customers with fashion, electronic products
        and technological solutions of the highest quality, accompanied by exceptional service. Us
        We strive to be the first choice for technology and fashion enthusiasts,
        offering a comprehensive shopping experience that combines convenience, knowledge and
        medium.</p>
    </div>
  </div>
  <div style="margin-top: 100px;" class="row align-items-center ms-1 ps-4" data-aos="fade-up" data-aos-duration="1500">
    <div
      class="col d-flex flex-column align-items-center align-items-sm-center align-items-md-center align-items-lg-center align-items-xl-center align-items-xxl-start ps-xxl-5 ms-xxl-5">
      <p style="font-size: 20px; font-weight: 600; line-height: 44.16px;">Our fundamental principles are:</p>
      <p style="font-size: 20px; font-weight: 300; line-height: 44.16px;" class="w-75"><br />● Quality: We offer
        products from recognized brands and we guarantee their quality and durability.
        <br />● Innovation: We are at the forefront of technology, bringing the latest
        innovations and trends to our clients.
        <br />● Customer Service: We are dedicated to providing unmatched customer service,
        with a trained team willing to help in every step of the process of
        buys.
        <br />● Accessibility: We make technology accessible to everyone, offering a
        wide range of products at competitive prices.
        <br />● Sustainability: We are committed to responsible business practices and
        sustainable, minimizing our environmental impact.
      </p>
    </div>
  </div>

  <div style="margin-top: 100px;" class="row align-items-center ms-1 ps-4" data-aos="fade-up" data-aos-duration="1500">
    <div class="col-xxl-5 col-xl-5 col-lg-10 col-md-10 col-sm-12  d-flex flex-column align-items-center ms-0 ps-0 ms-sm-0 ps-sm-0 ps-md-5 ms-md-5">
      <h2 style="font-size: 32px; line-height: 44.16px; font-weight: 600;">Our Story</h2>
      <p style="font-size: 16px; font-weight: 300; line-height: 28px;" class="pt-3 pb-md-5 pb-lg-5">TechShop was founded
        in 2010 in San José, Costa Rica by a group of Passionate about technology and fashion.
        The goal was simple but ambitious: create a store that not only sold high quality electronics and fashion
        products, but also It would also offer an exceptional shopping experience.
        <br>
        <br>
        Over the years, TechShop has
        evolved and adapted to trends
        technological, always maintaining its commitment to innovation. In 2020, they celebrated its tenth anniversary
        with the inauguration of its flagship store, an interactive space where customers can try out the latest
        gadgets and devices.
      </p>
    </div>
    <div
      class="col d-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-start justify-content-xxl-start ps-0 ps-sm-0 ps-md-4 ps-lg-4 ps-xl-4 ps-xxl-4">
      <img src="about-hero-3.png" alt="Our Story">
    </div>
  </div>
</div>

<div style="margin-top: 150px; margin-bottom: 200px;" class="container-fluid d-flex justify-content-center" data-aos="fade-up" data-aos-duration="1500">
  <div class="row gap-5 gap-sm-5 gap-md-5 gap-lg-0">
    <div class="col-12 d-flex justify-content-center pb-xxl-5 mb-xxl-5 pb-xl-5 mb-xl-5 pb-lg-5 mb-lg-5">
      <h2 style="font-size: 32px; line-height: 44.16px; font-weight: 600;">Our Store</h2>
    </div>
    <div
      class="col-12 col-ms-12 col-md-12 col-lg-6 col-xl-6 col-xxl-4 d-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center">
      <img src="store1.png" alt="Our Store">
    </div>
    <div
      class="col-12 col-ms-12 col-md-12 col-lg-6 col-xl-6 col-xxl-4 d-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center">
      <img src="store2.png" alt="Our Store">
    </div>
    <div
      class="col-12 col-ms-12 col-md-12 col-lg-12 col-xl-12 col-xxl-4 d-flex justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center pt-lg-5 mt-lg-5 pt-xl-5 mt-xl-5 pt-xxl-0 mt-xxl-0">
      <img src="store3.png" alt="Our Store">
    </div>
  </div>
</div>
