<div style="width: 1100px; height: 620px; margin-top: 100px; margin-bottom: 100px; box-shadow: 0px 0px 60px 30px rgba(0, 0, 0, 0.03); border-radius: 10px;" class="container shadow-lg d-none d-lg-block" data-aos="fade-up" data-aos-duration="1500">
  <div class="row">
    <div style="height: 600px;" class="col-5 bg-black ms-2 mt-2 rounded">
      <h2 style="font-size: 28px; font-weight: 600;" class="text-white p-5">Contact Information</h2>
      <div class="pt-4">
        <p style="font-size: 16px; font-weight: 400;" class="text-white ps-2"><img src="form-phone.svg" class="px-4 py-3" alt="">+506 8765 4321</p>
        <p style="font-size: 16px; font-weight: 400;" class="text-white ps-2"><img src="form-email.svg" class="px-4 py-3" alt="">contacto&#64;techshop.cr</p>
        <div class="d-flex w-75 ps-2">
          <img src="form-location.svg" class="px-4 pb-4" alt="">
        <p style="font-size: 16px; font-weight: 400;" class="text-white py-3">Avenida Central 456, Barrio Innovación, San José, Costa Rica, C.P. 10101</p>
      </div>
    </div>
    </div>
    <div style="box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10); border-radius: 10px; border: 1px #BDBDBD solid; margin-left: 100px; margin-top: 60px;" class="col-5 h-50">
        <form class="row g-4 p-5">
          <div class="col-md-6">
            <input type="text" class="form-control" id="inputEmail4" placeholder="Name*">
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" id="inputPassword4" placeholder="Last Name*">
          </div>
          <div class="col-12">
            <input type="text" class="form-control" id="inputAddress" placeholder="Email*">
          </div>
          <div class="col-12">
            <input type="text" class="form-control" id="inputAddress2" placeholder="Phone Number*">
          </div>
          <div class="col-12">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Your message..."></textarea>
          </div>

          <div class="col-12 d-flex justify-content-center">
            <button type="submit" class="btn btn-dark rounded-pill w-100">Send Message</button>
          </div>
        </form>

    </div>
  </div>
</div>

<div style="height: 620px; margin-top: 100px; margin-bottom: 630px;" class="container d-lg-none">
  <div class="row">
    <div style="height: 600px;" class="col-12 bg-black mt-2 rounded d-flex flex-column align-items-center">
      <h2 style="font-size: 28px; font-weight: 600;" class="text-white p-5">Contact Information</h2>
      <div class="pt-4">
        <p style="font-size: 16px; font-weight: 400;" class="text-white ps-2"><img src="form-phone.svg" class="px-4 py-3" alt="">+506 8765 4321</p>
        <p style="font-size: 16px; font-weight: 400;" class="text-white ps-2"><img src="form-email.svg" class="px-4 py-3" alt="">contacto&#64;techshop.cr</p>
        <div class="d-flex w-75 ps-2">
          <img src="form-location.svg" class="px-4 pb-4" alt="">
        <p style="font-size: 16px; font-weight: 400;" class="text-white py-3">Avenida Central 456, Barrio Innovación, San José, Costa Rica, C.P. 10101</p>
      </div>
    </div>
    </div>
    <div style="box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10); border-radius: 10px; border: 1px #BDBDBD solid; margin-top: 60px;" class="col-12 h-50">
        <form class="row g-4 p-5">
          <div class="col-md-6">
            <input type="text" class="form-control" id="inputEmail4" placeholder="Name*">
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" id="inputPassword4" placeholder="Last Name*">
          </div>
          <div class="col-12">
            <input type="text" class="form-control" id="inputAddress" placeholder="Email*">
          </div>
          <div class="col-12">
            <input type="text" class="form-control" id="inputAddress2" placeholder="Phone Number*">
          </div>
          <div class="col-12">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Your message..."></textarea>
          </div>

          <div class="col-12 d-flex justify-content-center">
            <button type="submit" class="btn btn-dark rounded-pill w-100">Send Message</button>
          </div>
        </form>

    </div>
  </div>
</div>

