<div id="carouselExampleAutoplaying" class="carousel slide d-none d-sm-none d-md-block" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button style="cursor: default;" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner d-none d-md-block">
    <div class="carousel-item active">
       <div class="container d-flex h-100 ms-5 position-absolute justify-content-start align-items-center">
        <div class="row">
          <div class="col ms-xxl-5">
          <p class="parrafo_1 parrafo_1_md pb-xxl-3">featured product</p>
          <h2 class="titulo_banner titulo_banner_md">Asus Ultra 2</h2>
          <p class="parrafo_2 parrafo_2_md pt-xxl-4">Master the game, one pixel at a time.</p>
          </div>
      </div>
      </div>
      <img src="banner1.png" class="d-block w-100" alt="Asus Ultra 2">
    </div>

    <div class="carousel-item">
      <div class="container d-flex h-100 ms-5 position-absolute justify-content-start align-items-center">
        <div class="row">
          <div class="col ms-xxl-5">
          <p class="parrafo_1 parrafo_1_md pb-xxl-3">featured product</p>
          <h2 class="titulo_banner titulo_banner_md">Pearl bracelet</h2>
          <p class="parrafo_2 parrafo_2_md pt-xxl-4">Beauty in every pearl</p>
          </div>
      </div>
      </div>
          <img src="banner2.png" class="d-block w-100" alt="Pearl bracelet">
    </div>
    <div class="carousel-item">
      <div class="container d-flex h-100 ms-xxl-5 position-absolute justify-content-start align-items-center">
        <div class="row">
          <div class="col ms-xxl-5">
          <p style="color: black;" class="parrafo_1 parrafo_1_md pb-xxl-3">featured product</p>
          <h2  style="color: black;"class="titulo_banner titulo_banner_md">Reebok sweatshirt</h2>
          <p style="color: black;" class="parrafo_2 parrafo_2_md pt-xxl-4">Comfort with style</p>
          </div>
      </div>
      </div>
      <img src="banner3.png" class="d-block w-100" alt="Reebok sweatshirt">
    </div>
  </div>
</div>


<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner d-block d-md-none">
    <div class="carousel-item active">
      <div class="container d-flex h-100 ms-1 position-absolute justify-content-start align-items-center">
        <div class="row justify-content-center">
          <div class="col ms-xxl-5">
          <p class="parrafo_1 parrafo_1_md">featured product</p>
          <h2 class="titulo_banner titulo_banner_md">Asus Ultra 2</h2>
          <p class="parrafo_2 parrafo_2_md">Master the game, one pixel at a time.</p>
          </div>
      </div>
      </div>
      <img src="banner_1_movil.jpg" class="d-block w-100" alt="Asus Ultra 2">
    </div>
    <div class="carousel-item">
      <div class="container d-flex h-100 ms-1 position-absolute justify-content-start align-items-center">
        <div class="row justify-content-center">
          <div class="col ms-xxl-5">
          <p class="parrafo_1 parrafo_1_md pb-xxl-3">featured product</p>
          <h2 class="titulo_banner titulo_banner_md">Pearl bracelet</h2>
          <p class="parrafo_2 parrafo_2_md">Beauty in every pearl</p>
          </div>
      </div>
      </div>
      <img src="banner_2_movil.jpg" class="d-block w-100" alt="Pearl bracelet">
    </div>
    <div class="carousel-item">
      <div class="container d-flex h-100 ms-xxl-5 position-absolute justify-content-start align-items-center">
        <div class="row justify-content-center">
          <div class="col ms-xxl-5">
          <p class="parrafo_1 parrafo_1_md">featured product</p>
          <h2 class="titulo_banner titulo_banner_md">Reebok sweatshirt</h2>
          <p class="parrafo_2 parrafo_2_md">Comfort with style</p>
          </div>
      </div>
      </div>
      <img src="banner_3_movil.jpg" class="d-block w-100" alt="Reebok sweatshirt">
    </div>
  </div>
  <button class="carousel-control-prev d-none" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next d-none" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
