<div class="container-fluid mb-4">
  <div class="row ms-xxl-5 ms-xl-5 ms-lg-5 ps-xxl-5 justify-content-md-center">
    <div class="col-xxl-8 col-xl-6 col-lg-6 mb-md-5 mb-lg-0 pt-md-5 pt-lg-0 d-flex flex-column align-items-center align-items-sm-center align-items-md-center align-items-lg-start">
      <h2 style="font-size: 50px; font-weight: 800;" class="py-3">TechShop</h2>
      <p class="fs-5 fw-medium py-3">
        2024 TechShop All Rights Reserved
      </p>
      <div class="py-2">
        <a href="https://www.facebook.com/TechshopInternational/?locale=es_LA"><i class="bi bi-facebook fs-1 px-2"></i></a>
        <a href="https://www.instagram.com/techshop.rd/"><i class="bi bi-instagram fs-1 px-2"></i></a>
        <a href="https://x.com/techshopmty?lang=es"><i class="bi bi-twitter fs-1 px-2"></i></a>
      </div>
    </div>
    <div class="col-12 col-sm d-flex flex-column align-items-center align-items-sm-center lign-items-md-center align-items-lg-start order-first order-md-first order-lg-last pb-4 pb-sm-4 pb-md-0">
      <p class="fs-3 fw-bold mb-1">Categories</p>
      <ul style="list-style: none;" class="ps-0 text-center text-sm-center text-md-center text-lg-start">
        <li><a routerLink="products/electronics" (click)="scrollTo('header-products')" class="fs-4">Electronics</a></li>
        <li><a routerLink="products/mens-clothing" (click)="scrollTo('header-products')" class="fs-4">Mens' clothing</a></li>
        <li><a routerLink="products/jewelery" (click)="scrollTo('header-products')" class="fs-4">Jewelery</a></li>
        <li><a routerLink="products/womens-clothing" (click)="scrollTo('header-products')" class="fs-4">Women'clothing</a></li>

    </ul>
  </div>
  <div class="col-12 col-sm d-flex flex-column  align-items-center align-items-sm-center align-items-md-center align-items-lg-start order-first order-md-first order-lg-last pb-5 pb-sm-5 pb-md-0">
    <p class="fs-3 fw-bold mb-1">Resources</p>
    <ul style="list-style: none;" class="ps-0 text-center text-sm-center text-md-center text-lg-start">
      <li><a routerLink="/" (click)="scrollTo('navbar')" class="fs-4">Home</a></li>
      <li><a routerLink="about" (click)="scrollTo('navbar')"  class="fs-4">About</a></li>
      <li><a routerLink="products" (click)="scrollTo('navbar')" class="fs-4">Products</a></li>
      <li><a routerLink="contact" (click)="scrollTo('navbar')" class="fs-4">Contact</a></li>
  </ul>

    </div>
    </div>
  </div>





