@import url("bootstrap/dist/css/bootstrap.min.css");
@import url("bootstrap-icons/font/bootstrap-icons.min.css");

html {
  scroll-behavior: smooth;
}

body{

  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
